{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Blog Specific{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>BlogSpecific ✅</h1>

    <p>You're viewing <b>{{blog}}</b> blog post</p>
    <a href="{{ path('blog_list') }}">Back to list</a>
</div>
{% endblock %}
